:root {

}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  display: grid;
  align-content: center;
  gap: 15px;
  padding: 25px 25px;
  background-color: var(--white);
  overflow: hidden;
}

.sidebar > div {
  /* position: fixed; */
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--grey);
  cursor: pointer;
  transition: 0.7s;
}

.sidebar > div:hover:not(:last-child) {
  transform: translateX(20px);
  background-color: var(--yellow);
  color: var(--white);
}

.logout > :not(p) {
  transform: scaleX(-1);
}

.logout:hover {
  transform: translateX(-20px);
  background-color: #FF1B09;
  color: var(--white)
}
