.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  /* gap: 10px; */
  justify-content: start;
}

.content {
  transform: translateX(300px);
  width: calc(100% - 300px);
  padding: 10px 25px;
  display: grid;
  gap: 10px;
}

.content > div {
  width: 100%
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

